.box {
    background-color: blueviolet;
    border: 1px solid black;
    width: 40px;
    padding: 10px 20px;
    margin: 10px;
}

.area {
    background-color: azure;
    border: 1px solid black;
    display: inline-block;
    width: 900px;
    margin: 10px;
}

ul {
    list-style-type: none;
}

.dragging {
    background: coral
}

.sortable.dragging {
    background: none;
    border: 1px dashed black;
    color: transparent;
}
