/* You can add global styles to this file, and also import other style files */
@import  "~@angular/cdk/overlay";
@include cdk-overlay();

.draggable {
    cursor: grab;
    cursor: -webkit-grab;
    user-select: none;
}

.dragging {
    cursor: -webkit-grabbing; 
    cursor: grabbing;
}

.movable:not(.dragging) {
    transition: transform 300ms ease-in-out
}